/* Element styles */

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

form{
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* Class styles */

.sliderContainer{
    display: inline-block;
    width: fit-content;
}

.submitButton{
    display: block;
    margin: 10px;
    width: fit-content;
    height: fit-content;
}

.effectTextInput{
    width: 2em;
    margin: 1em;
}

/* Id styles */

#mainContent{
    height: fit-content;
    width: fit-content;
}

#effectsPanel{
    width: 992px;
    height: fit-content;
}

#drop-area{
    display: flex;
    height: fit-content;
    width: fit-content;
    border-width: 2px;
    border-color: black;
    border-style: solid;
}

#drop-area.highlight{
    border-color: aqua;
}

/* Typography */

h2{
    margin: 5px;
}